
.container{
    background: #000000;
}
.paly-dice-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.play-dice-left{
    width: 50%;
}

.play-dice-left{
    width: 50%;
}

.play-dice-left img{
    height: 25rem;
    width: 50%;
}

.h1-dice{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: white;
    border-bottom: 2px solid white;

}
.btn{
    color: rgb(254, 253, 253);
    border: 1px solid white;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.6em;
    background-color: red;
    border-radius: 1rem;
}
.btn:hover{
    cursor: pointer;
    color: rgb(254, 39, 39);
    border: 1px solid white;
    display: inline-block;
    background-color: rgb(253, 250, 250);
    border-radius: 1rem;
    
}

@media (max-width:940px) {
    .paly-dice-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 1rem;
    }

    .play-dice-left img{
        height: 25rem;
        width: 100%;
        margin-bottom: 50px;
    }
}
